/*body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 1000;
}
.box
{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #34495e;
    text-align: center;
}
a
{
    color: whitesmoke;
    font-weight: 100;
    font-style: italic;
}
.box h1
{
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 700;
}
::placeholder
{
    color: white;
}
.box input[type="text"],.box input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 5px solid whitesmoke;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 5px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover
{
    background: #2ecc71;
}*/
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }
  
  #main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    font-size: xx-large;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 20px 20px 5px 5px;
  }
  #login-form-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    outline: none;
  }
  #login-form-submit:hover {
      background-color: orangered;
  }
